In [25]:
import numpy as np

In [26]:
import pandas as pd

In [27]:
pd.__version__                 #for getting the version

'2.2.2'

In [12]:
df = pd.read_csv('Used_Bikes.csv')                  #to read used_bike file
print(df)

                                  bike_name     price       city  kms_driven  \
0        TVS Star City Plus Dual Tone 110cc   35000.0  Ahmedabad     17654.0
1               Royal Enfield Classic 350cc  119900.0      Delhi     11000.0
2                      Triumph Daytona 675R  600000.0      Delhi       110.0
3                      TVS Apache RTR 180cc   65000.0  Bangalore     16329.0
4      Yamaha FZ S V 2.0 150cc-Ltd. Edition   80000.0  Bangalore     10000.0
...                                     ...       ...        ...         ...
32643                Hero Passion Pro 100cc   39000.0      Delhi     22000.0
32644                  TVS Apache RTR 180cc   30000.0     Karnal      6639.0
32645              Bajaj Avenger Street 220   60000.0      Delhi     20373.0
32646             Hero Super Splendor 125cc   15600.0     Jaipur     84186.0
32647                    Bajaj Pulsar 150cc   22000.0       Pune     60857.0

             owner   age  power          brand
0      First Owner   3.0  110.0            TVS
1      First Owner   4.0  350.0  Royal Enfield
2      First Owner   8.0  675.0        Triumph
3      First Owner   4.0  180.0            TVS
4      First Owner   3.0  150.0         Yamaha
...            ...   ...    ...            ...
32643  First Owner   4.0  100.0           Hero
32644  First Owner   9.0  180.0            TVS
32645  First Owner   6.0  220.0          Bajaj
32646  First Owner  16.0  125.0           Hero
32647  First Owner  13.0  150.0          Bajaj

[32648 rows x 8 columns]

In [20]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [21]:
print(df)

                                  bike_name     price       city  kms_driven  \
0        TVS Star City Plus Dual Tone 110cc   35000.0  Ahmedabad     17654.0
1               Royal Enfield Classic 350cc  119900.0      Delhi     11000.0
2                      Triumph Daytona 675R  600000.0      Delhi       110.0
3                      TVS Apache RTR 180cc   65000.0  Bangalore     16329.0
4      Yamaha FZ S V 2.0 150cc-Ltd. Edition   80000.0  Bangalore     10000.0
...                                     ...       ...        ...         ...
32643                Hero Passion Pro 100cc   39000.0      Delhi     22000.0
32644                  TVS Apache RTR 180cc   30000.0     Karnal      6639.0
32645              Bajaj Avenger Street 220   60000.0      Delhi     20373.0
32646             Hero Super Splendor 125cc   15600.0     Jaipur     84186.0
32647                    Bajaj Pulsar 150cc   22000.0       Pune     60857.0

             owner   age  power          brand
0      First Owner   3.0  110.0            TVS
1      First Owner   4.0  350.0  Royal Enfield
2      First Owner   8.0  675.0        Triumph
3      First Owner   4.0  180.0            TVS
4      First Owner   3.0  150.0         Yamaha
...            ...   ...    ...            ...
32643  First Owner   4.0  100.0           Hero
32644  First Owner   9.0  180.0            TVS
32645  First Owner   6.0  220.0          Bajaj
32646  First Owner  16.0  125.0           Hero
32647  First Owner  13.0  150.0          Bajaj

[32648 rows x 8 columns]

In [22]:
df.head()           #for top values

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [23]:
df.tail()       #for last valuesz

,bike_name,price,city,kms_driven,owner,age,power,brand
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [16]:
df.head(10)                             #for top 10 values

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
5,Yamaha FZs 150cc,53499.0,Delhi,25000.0,First Owner,6.0,150.0,Yamaha
6,Honda CB Hornet 160R ABS DLX,85000.0,Delhi,8200.0,First Owner,3.0,160.0,Honda
7,Hero Splendor Plus Self Alloy 100cc,45000.0,Delhi,12645.0,First Owner,3.0,100.0,Hero
8,Royal Enfield Thunderbird X 350cc,145000.0,Bangalore,9190.0,First Owner,3.0,350.0,Royal Enfield
9,Royal Enfield Classic Desert Storm 500cc,88000.0,Delhi,19000.0,Second Owner,7.0,500.0,Royal Enfield

In [8]:
df.tail(10)                       #for last top 10

,bike_name,price,city,kms_driven,owner,age,power,brand
32638,Yamaha Fazer 25 250cc,123000.0,Kadapa,14500.0,First Owner,4.0,250.0,Yamaha
32639,Royal Enfield Classic 350cc,95500.0,Delhi,18000.0,First Owner,8.0,350.0,Royal Enfield
32640,Hero Passion Pro 100cc,32000.0,Delhi,12000.0,First Owner,6.0,100.0,Hero
32641,Bajaj Avenger 220cc,41000.0,Delhi,20245.0,Second Owner,11.0,220.0,Bajaj
32642,Hero Passion 100cc,15000.0,Perumbavoor,35000.0,Second Owner,19.0,100.0,Hero
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [9]:
df.duplicated().sum()                #for duplicate

25324

In [10]:
df.info()                         #for knowing information about used_bikes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  object
 1   price       32648 non-null  float64
 2   city        32648 non-null  object
 3   kms_driven  32648 non-null  float64
 4   owner       32648 non-null  object
 5   age         32648 non-null  float64
 6   power       32648 non-null  float64
 7   brand       32648 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.0+ MB

In [28]:
df['brand'].unique()                #for getting brands without repetition

array(['TVS', 'Royal Enfield', 'Triumph', 'Yamaha', 'Honda', 'Hero',
       'Bajaj', 'Suzuki', 'Benelli', 'KTM', 'Mahindra', 'Kawasaki',
       'Ducati', 'Hyosung', 'Harley-Davidson', 'Jawa', 'BMW', 'Indian',
       'Rajdoot', 'LML', 'Yezdi', 'MV', 'Ideal'], dtype=object)

In [11]:
df['bike_name'].unique()                   #all bikename  but not repeated

array(['TVS Star City Plus Dual Tone 110cc',
       'Royal Enfield Classic 350cc', 'Triumph Daytona 675R',
       'TVS Apache RTR 180cc', 'Yamaha FZ S V 2.0 150cc-Ltd. Edition',
       'Yamaha FZs 150cc', 'Honda CB Hornet 160R  ABS DLX',
       'Hero Splendor Plus Self Alloy 100cc',
       'Royal Enfield Thunderbird X 350cc',
       'Royal Enfield Classic Desert Storm 500cc',
       'Yamaha YZF-R15 2.0 150cc', 'Yamaha FZ25 250cc',
       'Bajaj Pulsar NS200', 'Bajaj Discover 100M', 'Bajaj Discover 125M',
       'Bajaj Pulsar NS200 ABS', 'Bajaj Pulsar RS200 ABS',
       'Suzuki Gixxer SF 150cc', 'Benelli 302R 300CC',
       'Hero Splendor iSmart Plus IBS 110cc',
       'Royal Enfield Classic Chrome 500cc', 'Yamaha FZ V 2.0 150cc',
       'Hero Super Splendor 125cc', 'Honda CBF Stunner 125cc',
       'Bajaj Pulsar 150cc', 'Honda X-Blade 160CC ABS',
       'Bajaj Avenger 220cc', 'KTM RC 390cc', 'Honda CB Unicorn 150cc',
       'KTM Duke 200cc', 'Honda CBR 150R 150cc',
       'Royal Enfield Thunderbird X 500cc', 'KTM RC 200cc ABS',
       'Royal Enfield Thunderbird 350cc',
       'Royal Enfield Bullet Electra 350cc',
       'Bajaj Avenger Street 220 ABS', 'Mahindra Centuro NXT 110cc',
       'Hero Hunk 150cc', 'Suzuki Gixxer SF Fi 150cc SP ABS',
       'Yamaha FZ 150cc', 'Royal Enfield\u200e Bullet 350cc',
       'TVS Apache RTR 160cc', 'Honda CB Shine 125cc',
       'Benelli TNT 600i ABS', 'Honda Dream Yuga 110cc',
       'Yamaha SZ 150cc', 'Suzuki Gixxer 150cc',
       'Bajaj Avenger Cruise 220', 'Kawasaki Z900', 'Bajaj Pulsar 220cc',
       'Hero CD Deluxe 100cc', 'Kawasaki Ninja 650cc',
       'Bajaj Platina 125cc', 'Hero Karizma ZMR 223cc',
       'Bajaj Pulsar 180cc', 'Yamaha FZ25 ABS 250cc',
       'Bajaj CT 100 100cc', 'Royal Enfield Interceptor 650cc',
       'KTM Duke 250cc', 'Royal Enfield Himalayan 410cc',
       'Bajaj Pulsar 135LS', 'Bajaj Pulsar 220F', 'Yamaha FZ16 150cc',
       'Ducati Scrambler 1100 Special', 'Triumph Street Triple 765',
       'Bajaj V15 150cc', 'Suzuki Gixxer Fi 150cc ABS',
       'Hero Splendor plus 100cc', 'KTM Duke 390cc', 'Honda CBR 250R',
       'Bajaj Pulsar RS200', 'Benelli TNT 600i',
       'Suzuki Gixxer 150cc SP Rear Disc', 'Yamaha FZ S V 2.0 150cc',
       'Royal Enfield Classic 500cc', 'Hyosung GT650R',
       'Yamaha YZF-R15 S 150cc', 'TVS Apache RTR 160 4V Disc',
       'Benelli TNT 300', 'Honda CB ShineSP 125cc',
       'Hero Passion Pro 100cc', 'Hero Splendor Plus 100cc',
       'Yamaha YZF R6 600cc', 'Ducati 1299 Superleggera',
       'Royal Enfield Electra 350cc', 'TVS Phoenix Disc 125cc',
       'Harley-Davidson Street 750',
       'Royal Enfield Himalayan 410cc Fi ABS', 'Bajaj Discover 150cc',
       'Bajaj Avenger Street 220', 'Royal Enfield Standard 350cc',
       'Honda CB Shine 125cc Disc', 'Honda CB Unicorn ABS 150cc',
       'Yamaha YZF-R15 V3 150cc', 'Bajaj Pulsar NS 200',
       'Bajaj Dominar 400', 'Honda X-Blade 160cc',
       'Suzuki Hayabusa 1300cc', 'Ducati Monster 821 Dark',
       'Yamaha FZ S V 2.0 150cc Rear Disc',
       'Suzuki Gixxer SF 150cc Special MOTOGP Edition Rear Disc',
       'KTM RC 200cc', 'Bajaj Discover 125ST',
       'Hero Splendor Plus Kick Alloy 100cc', 'Hero Karizma 223cc',
       'Hero Splendor 100cc', 'Ducati 1198 SP 1198cc',
       'Royal Enfield Bullet 500cc', 'Yamaha Fazer 150cc',
       'Yamaha Gladiator 125cc', 'Hero Karizma R 223cc',
       'Harley-Davidson Iron 883', 'TVS Apache RTR 200 4V Fi',
       'TVS Apache RTR 160 4V DISC ABS BS6', 'Bajaj Dominar 400 ABS',
       'Royal Enfield Classic Gunmetal Grey 350cc',
       'Hero HF Deluxe i3s iBS 100cc', 'Suzuki Gixxer SF Fi 150cc ABS',
       'Hero Splendor iSmart 110cc', 'Bajaj Platina 100cc',
       'TVS Apache RTR 200 4V FI', 'Royal Enfield Bullet Twinspark 350cc',
       'TVS Star City 110cc', 'Bajaj Platina  Alloy ES-100cc',
       'Ducati Panigale 959',
       'Royal Enfield Classic 350cc-Redditch Edition', 'TVS Sport 100cc',
       'Bajaj Pulsar AS200',
       'Royal Enfield Classic Desert Storm 500cc Dual Disc',
       'Honda Livo 110cc', 'Suzuki Gixxer SF 150cc SP Rear Disc',
       'Yamaha SZ-RR 150cc', 'Royal Enfield Thunderbird 500cc',
       'Royal Enfield Bullet Electra Twinspark 350cc',
       'Bajaj Discover 150F Disc',
       'Yamaha Saluto 125cc Disc Special Edition',
       'Triumph Street Triple ABS 675cc', 'Honda CBR 250R ABS',
       'Hyosung Aquila GV250', 'Jawa Forty Two 295CC', 'Bajaj V12 125cc',
       'Bajaj V12 125cc Disc', 'Yamaha Fazer 25 250cc',
       'Hero Xpulse 200T', 'Honda CB Hornet 160R CBS',
       'Suzuki Gixxer 150cc SP ABS', 'Hero Passion Xpro 110cc',
       'Yamaha YZF-R3 320cc ABS', 'Royal Enfield Bullet 350 cc',
       'Hero HF Deluxe 100cc', 'Honda CB Twister 110cc',
       'Bajaj Pulsar 125cc Disc CBS', 'Honda CB Shine 125cc Drum BS6',
       'Honda CB Hornet 160R STD', 'Honda Dream Neo 110cc', 'BMW G 310 R',
       'Bajaj Pulsar AS150', 'Kawasaki Ninja 250cc', 'Benelli TNT 899',
       'Indian Chief Classic 1800cc', 'Hero Achiever 150cc',
       'TVS Apache 150cc', 'Kawasaki ER-6n 650cc',
       'Hero HF Deluxe Self 100cc', 'Bajaj Pulsar NS160',
       'Royal Enfield Classic Gunmetal Grey 350cc ABS',
       'Suzuki Intruder 150cc', 'TVS Apache RTR 200 4V ABS Race Edition',
       'Bajaj CT 100 B', 'Hero Passion Pro 110cc Drum',
       'Yamaha YZF-R15 150cc', 'TVS Apache RTR 160 4V DISC ABS',
       'Mahindra Mojo 300cc', 'TVS Apache RTR 200 4V Carburetor',
       'Hero Ignitor Disc 125cc', 'Bajaj Avenger Street 150',
       'Royal Enfield Continental GT 535cc', 'Hero Glamour Disc 125cc',
       'Suzuki Gixxer SF Fi 150cc', 'Hero HF Dawn 100cc',
       'Suzuki Slingshot Plus 125cc', 'Mahindra Centuro Rockstar 110cc',
       'Mahindra Centuro 110cc',
       'Honda CB Hornet 160R Special Edition STD',
       'Harley-Davidson Street Rod XG750A ABS',
       'Hero Splendor Plus IBS i3S 100cc', 'Bajaj Discover 135cc',
       'Bajaj Discover 125cc', 'TVS Apache RTR 160 4V DRUM ABS',
       'Honda CB Unicorn 160 CBS', 'KTM Duke 125cc', 'Bajaj Boxer BM150',
       'Hero Glamour 125cc', 'Bajaj Discover 100cc',
       'Bajaj Avenger Street 180', 'TVS Star City Plus 110cc',
       'Honda CB Trigger 150cc', 'Kawasaki Ninja 650 KRT Edition',
       'Bajaj Platina 100cc ComforTec Alloy', 'Benelli TNT R 1130cc',
       'Honda CB Unicorn Dazzler 150cc', 'Benelli TNT 600 GT',
       'Hyosung GT250R', 'Yamaha YZF-R1 1000cc', 'Hero Xtreme 200R',
       'Ducati Diavel 1200cc', 'Triumph Speed Triple 1050cc',
       'Indian Scout Bobber 1130cc', 'Bajaj V15 150cc POWER UP',
       'Jawa Standard 295CC', 'Yamaha SZR 150cc', 'TVS Star Sport 100cc',
       'Hyosung Aquila 250 250cc', 'Kawasaki Z650', 'Hero CD Dawn 100cc',
       'TVS Apache RTR 200 4V ABS', 'Hero Passion 100cc',
       'Suzuki Intruder SP 150cc', 'Yamaha YZF-R3 320cc',
       'TVS Apache RR310', 'Hero Passion Plus 100cc',
       'Royal Enfield Classic 350cc-Redditch Edition Dual Disc',
       'Hero CBZ 150cc', 'Yamaha FZS FI 150cc',
       'Honda CB Unicorn 160 STD', 'Suzuki GS 150 R 150cc',
       'Royal Enfield Machismo 500cc', 'Hero CBZ Xtreme 150cc',
       'Yamaha SZ RR V 2.0 150cc', 'TVS Apache RTR 180cc ABS',
       'Hero Honda Splendor 100cc', 'Honda CBR 150R Deluxe',
       'Hero Ignitor 125cc', 'Bajaj Pulsar 200cc', 'Kawasaki Ninja 300cc',
       'Kawasaki Ninja 300 ABS', 'Bajaj Pulsar 150cc Rear Disc',
       'Hero Splendor NXG 100cc', 'Hero Achiever Disc 150cc',
       'TVS Apache RTR 200 4V Carburetor Race Edition 2.0',
       'Royal Enfield Thunderbird 350cc ABS',
       'Harley-Davidson Street 750 ABS',
       'Bajaj Pulsar 150cc Rear Disc ABS', 'KTM Duke 250cc ABS',
       'Bajaj Pulsar 200 NS 200cc', 'Mahindra Mojo Tourer Edition 300cc',
       'Hero Passion Pro i3S Alloy 100cc',
       'Royal Enfield Thunderbird X 350cc ABS', 'Hero Xtreme 150cc',
       'Bajaj Boxer CT100', 'Royal Enfield Bullet 350cc',
       'Royal Enfield Standard 500cc', 'Hyosung Aquila Pro GV650',
       'Royal Enfield Classic 500cc Dual Disc', 'Suzuki V-Strom 1000cc',
       'KTM RC 125CC', 'Suzuki Gixxer SF 250cc ABS',
       'Harley-Davidson 1200 Custom', 'Honda Dream Yuga 110cc CBS',
       'Hero Splendor Pro 100cc', 'Suzuki Hayate 110cc',
       'Yamaha Fazer FI V 2.0 150cc', 'TVS Victor 110cc Disc',
       'Royal Enfield Classic Stealth Black 500cc',
       'TVS Apache RTR 200 4V Dual Channel ABS BS6',
       'Honda CB Shine 125cc CBS', 'Honda Livo Disc 110cc',
       'Bajaj Discover 110cc', 'Suzuki Gixxer SF 150cc ABS',
       'Hero CD 100SS', 'Hero Honda Splendor Plus 100cc',
       'Bajaj Discover 100T', 'Hero HF Deluxe self Alloy 100cc',
       'Benelli TNT 25 250cc', 'Yamaha MT-15 150cc',
       'Yamaha FZS FI 150cc Rear Disc',
       'TVS Apache RTR 200 4V Carburetor Pirelli Tyres',
       'Triumph Tiger 800 XRX', 'Ducati XDiavel 1262CC S',
       'TVS Suzuki Shogun 110cc', 'Bajaj Discover 125cc Disc',
       'Triumph Thunderbird Storm 1700cc', 'Suzuki GSX-S750',
       'TVS Flame 125cc', 'Triumph Tiger 800 XCA',
       'Royal Enfield Machismo 350cc', 'TVS Victor 110cc',
       'Honda CBR650R', 'Hero Xpulse 200cc FI',
       'Hero HF Deluxe i3s 100cc',
       'TVS Apache RTR 160cc Matt Red Rear Disc', 'Rajdoot GTX 175cc',
       'Hero Xtreme 200R ABS', 'Honda CB Unicorn 160',
       'Honda CB Hornet 160R Special Edition-CBS',
       'TVS Apache RTR 200 4V Carburetor Pirelli Tyres Race Edition 2.0',
       'TVS Apache RR310 Slipper Clutch', 'Mahindra Mojo UT300',
       'Royal Enfield Bullet Twinspark Kickstart 350cc',
       'Bajaj Pulsar  180cc', 'Honda CD 110 Dream',
       'Royal Enfield Bullet Twinspark 500cc',
       'Hero Xtreme Sports Rear Disc 150cc', 'Bajaj CT 100 ES Alloy',
       'Bajaj  Pulsar 180cc', 'Bajaj Discover 150F', 'Hyosung GT 650N',
       'Triumph Street Twin 900cc', 'Bajaj CT 100 Alloy',
       'TVS Apache RTR 160 4V Drum',
       'Yamaha SZ RR V 2.0 150cc Limited Edition',
       'Yamaha YZF-R1M 1000cc', 'Hero Glamour i3s 125cc',
       'Harley-Davidson Roadster XL 1200CX', 'Triumph Tiger 800 XR',
       'KTM Duke 200cc ABS', 'Honda CBR1000RR Fireblade',
       'Honda SP125 Disc BS6', 'Bajaj Platina 110 H Gear Disc',
       'Hero Splendor Plus 100 cc', 'Honda CBR 250R Repsol',
       'Triumph Bonneville T100 865cc', 'Yamaha RX135 135cc 4-Speed',
       'Benelli 302R', 'Hero Splendor iSmart 100cc',
       'Royal Enfield Classic 350cc Dual Disc', 'Honda CB 1000R',
       'Honda CBR 600RR', 'Ducati Monster 797', 'Ducati Monster 1200',
       'Suzuki GSX-R 1000cc', 'Ducati Monster 796 Corse Stripe',
       'TVS Victor 110cc Disc SBT', 'Honda CB ShineSP 125cc CBS Disc',
       'Kawasaki Z250', 'Royal Enfield Classic Squadron Blue 500cc',
       'Suzuki Gixxer 150cc Dual Tone Rear Disc', 'TVS Apache RTR 200 4V',
       'Honda Livo Disc 110cc CBS', 'TVS Apache RTR 160cc Rear Disc',
       'Yamaha FZ S V 3.0 150cc', 'BMW G 310 GS',
       'Royal Enfield Classic 350cc Signals Edition',
       'Royal Enfield Bullet Electra Twinspark 350cc Double Disc',
       'Honda CB Hornet 160R 160cc STD', 'Suzuki Intruder 150cc FI',
       'Bajaj Platina 110 CBS', 'Hero Xtreme Sports 150cc',
       'Bajaj Avenger Cruise 220 ABS',
       'Honda CB Hornet 160R 160cc STD SP', 'Kawasaki Versys 650cc',
       'Ducati Multistrada 1200 Enduro',
       'Hero Passion Pro i3S Alloy 100cc IBS', 'Hero Xtreme Sports 149cc',
       'TVS Apache RTR 160 4V Carburetor', 'Triumph Thruxton R 1200cc',
       'Honda CD 110 Dream DX', 'BMW S 1000 XR Pro',
       'Honda CB ShineSP 125cc Disc', 'Hero HF Deluxe Eco 100cc',
       'Bajaj XCD 125', 'Honda CB ShineSP 125cc CBS',
       'Bajaj CT110 ES Alloy', 'TVS Apache RTR 160 4V FI',
       'Triumph Bonneville T100 900cc', 'Bajaj Avenger Street 160 ABS',
       'TVS Apache RTR 160cc White Race Edition Rear Disc',
       'Royal Enfield Himalayan 410cc Sleet Edition',
       'Hero Splendor+ 100cc', 'Suzuki Gixxer SF 150cc Rear Disc',
       'TVS Apache RTR 160 4V Carburetor With Rear Disc',
       'Suzuki Heat 125cc', 'Honda CB Hornet 160R  ABS STD',
       'Yamaha Fazer25 250cc', 'Bajaj Pulsar NS160 Rear Disc',
       'Honda CB Hornet 160R', 'Bajaj Discover150 150cc',
       'Bajaj Discover 125T', 'Bajaj Pulsar 150cc Classic',
       'Yamaha Saluto 125cc', 'Hero Passion XPRO 110 cc',
       'Yamaha FZS FI 150cc Special Edition', 'TVS Fiero 150cc',
       'Mahindra Mojo XT300', 'Bajaj Platina Alloy ES 100cc',
       'TVS Jive 110cc', 'Bajaj Boxer AT100', 'Bajaj Discover 150S Disc',
       'TVS Radeon 110cc Drum SBT', 'Honda CD 110 Dream Self',
       'Suzuki Gixxer 150cc ABS', 'Suzuki Hayate EP 110cc',
       'Yamaha SZX 150cc', 'Hero CBZ Star 160cc',
       'Hero Passion PRO  100 cc', 'Hero Passion Pro i3S Disc 100cc',
       'Bajaj Avenger 200cc', 'Hero Honda Ambition 135cc',
       'Bajaj Pulsar 135LS 135cc', 'Bajaj CT 100 KS Alloy',
       'BMW S 1000 RR Pro', 'Kawasaki Versys 1000',
       'Honda CB Unicorn 150 150cc', 'Kawasaki Z800',
       'Hero Glamour PGM Fi 125cc', 'Royal Enfield Continental GT 650cc',
       'LML Freedom DX 110cc', 'Harley-Davidson XG750 750cc',
       'Yezdi Classic 250cc', 'Hero Passion Pro 100cc Drum Alloy',
       'TVS Star 100cc', 'Bajaj XCD 135', 'Bajaj Avenger 150cc',
       'Hero HF Deluxe 100 cc', 'Yamaha Fazer FI 150cc',
       'TVS Apache RTR 200 4V FI Race Edition 2.0',
       'Yamaha FZ V 3.0 150cc', 'Hero Super Splendor 125cc i3s',
       'Yamaha SS 125 125cc',
       'Suzuki Gixxer SF 150cc Special MOTOGP Edition',
       'TVS Victor GX 110cc', 'TVS Apache RTR 200 4V Race Edition 2.0',
       'Hero Passion Pro TR 100cc', 'Honda CBR 650 F',
       'Yamaha FZ S V 3.0 150cc ABS Dark Knight BS VI',
       'Hero HF Deluxe Self Spoke 100cc', 'TVS Sports plus ES 100cc',
       'BMW F750 GS 850cc',
       'Royal Enfield Bullet Electra Twinspark 350CC ABS',
       'Hero Glamour Fi 125cc', 'Royal Enfield Himalayan 410cc Sleet ABS',
       'Bajaj Pulsar NS 200cc', 'Yamaha YBR 110cc', 'Bajaj CT 100 Spoke',
       'Yamaha Crux 110cc', 'Yamaha Saluto RX 110cc',
       'MV Agusta Brutale 1090', 'Royal Enfield Himalayan 410cc Fi',
       'MV Agusta F3 800cc', 'Kawasaki Ninja 400', 'Benelli TRK 502X',
       'TVS Phoenix 125cc', 'Harley-Davidson Fat Bob 107 Ci',
       'TVS Apache RTR 160cc White Race Edition',
       'Ideal Jawa Yezdi CL-II 250 cc', 'Hero Splendor Pro Classic 100cc',
       'Yamaha FZ Fi Version 2.0 150cc', 'Yamaha SZS 150cc',
       'Triumph Daytona 675 ABS',
       'Royal Enfield Classic Chrome 500cc ABS',
       'Harley-Davidson Sportster 883', 'Suzuki Zeus 125cc',
       'Yamaha Saluto 125cc-Special Edition', 'Bajaj Avenger 180cc',
       'Bajaj Pulsar 150cc Neon', 'Kawasaki Z1000',
       'Hero CBZ Xtreme 150 cc', 'Kawasaki Vulcan S 650cc',
       'Yamaha RX-Z 135cc', 'Yamaha Libero G5 110cc',
       'Bajaj Pulsar RS200  ABS-200cc', 'Bajaj Discover150S 150cc',
       'Hero i Smart 125cc', 'Hero Splendor Plus  100 cc',
       'Hero Splendor Plus 100 CC', 'Hero Karizma 223 cc',
       'TVS MAX 4R 110cc', 'Mahindra Pantero 110cc',
       'Hero Ambition 135cc', 'Honda CBR 250R Repsol ABS',
       'Hero Hunk Rear Disc 150cc'], dtype=object)

In [12]:
df.isnull()                 #for null values

       bike_name  price   city  kms_driven  owner    age  power  brand
0          False  False  False       False  False  False  False  False
1          False  False  False       False  False  False  False  False
2          False  False  False       False  False  False  False  False
3          False  False  False       False  False  False  False  False
4          False  False  False       False  False  False  False  False
...          ...    ...    ...         ...    ...    ...    ...    ...
32643      False  False  False       False  False  False  False  False
32644      False  False  False       False  False  False  False  False
32645      False  False  False       False  False  False  False  False
32646      False  False  False       False  False  False  False  False
32647      False  False  False       False  False  False  False  False

[32648 rows x 8 columns]

In [13]:
df.isnull().sum()                     #for null with sum

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [30]:
df_TVS=df[df['brand']=='TVS']                  #knowing details about TVS
df_TVS

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
52,TVS Apache RTR 160cc,60000.0,Mumbai,30000.0,First Owner,5.0,160.0,TVS
114,TVS Apache RTR 160 4V Disc,69900.0,Delhi,8700.0,First Owner,3.0,160.0,TVS
130,TVS Phoenix Disc 125cc,21500.0,Barasat,10500.0,First Owner,5.0,125.0,TVS
...,...,...,...,...,...,...,...,...
32549,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32568,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32587,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32606,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS

In [15]:
df[df['brand']=='TVS']                  #brand = tvs

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
52,TVS Apache RTR 160cc,60000.0,Mumbai,30000.0,First Owner,5.0,160.0,TVS
114,TVS Apache RTR 160 4V Disc,69900.0,Delhi,8700.0,First Owner,3.0,160.0,TVS
130,TVS Phoenix Disc 125cc,21500.0,Barasat,10500.0,First Owner,5.0,125.0,TVS
...,...,...,...,...,...,...,...,...
32549,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32568,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32587,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32606,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS

In [31]:
df_TVS1=df_TVS[df_TVS['price']<=50000]          #for price which is equal to or more than 50000 in TVS
df_TVS1

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
130,TVS Phoenix Disc 125cc,21500.0,Barasat,10500.0,First Owner,5.0,125.0,TVS
131,TVS Apache RTR 160cc,40000.0,Delhi,20000.0,First Owner,6.0,160.0,TVS
215,TVS Star City 110cc,28000.0,Bangalore,28428.0,First Owner,9.0,110.0,TVS
235,TVS Sport 100cc,28000.0,Mandi,36000.0,First Owner,5.0,100.0,TVS
...,...,...,...,...,...,...,...,...
32549,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32568,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32587,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32606,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS

In [34]:
df_TVS1.duplicated()              #for duplicate values

0        False
130      False
131      False
215      False
235      False
         ...
32549     True
32568     True
32587     True
32606     True
32644     True
Length: 936, dtype: bool

In [16]:
df['power'].unique()           #for knowing power but not repeated

array([ 110.,  350.,  675.,  180.,  150.,  160.,  100.,  500.,  250.,
        200.,  125.,  302.,  220.,  390.,  600.,  900.,  650.,  223.,
        410.,  135., 1100.,  765.,  300., 1299.,  750.,  400., 1300.,
        821., 1198.,  883.,  959.,  295.,  320.,  310.,  899., 1800.,
        535., 1130., 1000., 1200., 1050.,  800., 1262., 1700.,  175.,
        865.,  797.,  796.,  149.,  850., 1090.,  502.,  107.])

In [32]:
df_TVS1.duplicated()        #for tvsdatatype with length

0        False
130      False
131      False
215      False
235      False
         ...
32549     True
32568     True
32587     True
32606     True
32644     True
Length: 936, dtype: bool

In [33]:
df_TVS1.isnull().sum()                   #for null values of TVS with sum

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [36]:
df.isnull().sum()                     #for null values with sum

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [17]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [35]:
df.duplicated().sum()

25324

In [38]:
df_TVS1=df_TVS[df_TVS['price']<30000]          #TVS1 price more than 30000
df_TVS1

,bike_name,price,city,kms_driven,owner,age,power,brand
130,TVS Phoenix Disc 125cc,21500.0,Barasat,10500.0,First Owner,5.0,125.0,TVS
215,TVS Star City 110cc,28000.0,Bangalore,28428.0,First Owner,9.0,110.0,TVS
235,TVS Sport 100cc,28000.0,Mandi,36000.0,First Owner,5.0,100.0,TVS
264,TVS Sport 100cc,28000.0,Mandi,36000.0,First Owner,5.0,100.0,TVS
374,TVS Apache 150cc,9350.0,Bangalore,39822.0,Second Owner,13.0,150.0,TVS
...,...,...,...,...,...,...,...,...
9143,TVS Star City 110cc,15000.0,Chennai,39888.0,First Owner,12.0,110.0,TVS
9155,TVS Star City 110cc,14000.0,Chennai,17602.0,First Owner,13.0,110.0,TVS
9158,TVS MAX 4R 110cc,18000.0,Chennai,13673.0,First Owner,7.0,110.0,TVS
9296,TVS Star City 110cc,20000.0,Palakkad,49500.0,First Owner,10.0,110.0,TVS
9320,TVS Apache 150cc,20000.0,Hissar,84916.0,First Owner,14.0,150.0,TVS

In [39]:
df_TVS.min()                       #for min value of TVS  details

bike_name     TVS Apache 150cc
price                   5800.0
city                    Adalaj
kms_driven               100.0
owner              First Owner
age                        1.0
power                    100.0
brand                      TVS
dtype: object

In [40]:
df_TVS.max()                  #for max value of TVS  details

bike_name     TVS Victor GX 110cc
price                    224000.0
city                Visakhapatnam
kms_driven               266028.0
owner                 Third Owner
age                          23.0
power                       310.0
brand                         TVS
dtype: object

In [41]:
df_TVS.describe()            # find all the details of the tvs bike

               price     kms_driven          age        power
count    1247.000000    1247.000000  1247.000000  1247.000000
mean    44299.146752   14717.836407     7.310345   170.994387
std     32540.843696   18193.866096     2.928919    35.771333
min      5800.000000     100.000000     1.000000   100.000000
25%     30000.000000    6639.000000     5.000000   160.000000
50%     30000.000000    6639.000000     9.000000   180.000000
75%     50000.000000   18477.000000     9.000000   180.000000
max    224000.000000  266028.000000    23.000000   310.000000

In [42]:
df_TVS['price'].mean()                ## finding the average

44299.14675220529

In [43]:
#question 1
#Royal_Enfield
#age = 2
# distance 50km
#price = 1lakh
df_RE=df[df['brand']=='Royal Enfield']
df_RE

,bike_name,price,city,kms_driven,owner,age,power,brand
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
8,Royal Enfield Thunderbird X 350cc,145000.0,Bangalore,9190.0,First Owner,3.0,350.0,Royal Enfield
9,Royal Enfield Classic Desert Storm 500cc,88000.0,Delhi,19000.0,Second Owner,7.0,500.0,Royal Enfield
23,Royal Enfield Classic Chrome 500cc,121700.0,Kalyan,24520.0,First Owner,5.0,500.0,Royal Enfield
36,Royal Enfield Classic 350cc,98800.0,Kochi,39000.0,First Owner,5.0,350.0,Royal Enfield
...,...,...,...,...,...,...,...,...
32601,Royal Enfield Classic 350cc,95500.0,Delhi,18000.0,First Owner,8.0,350.0,Royal Enfield
32614,Royal Enfield Bullet Electra 350cc,105000.0,Delhi,20000.0,First Owner,4.0,350.0,Royal Enfield
32633,Royal Enfield Classic 350cc,87000.0,Gautam Buddha Nagar,16336.0,First Owner,7.0,350.0,Royal Enfield
32634,Royal Enfield Thunderbird 350cc,70000.0,Mumbai,13858.0,Second Owner,11.0,350.0,Royal Enfield
32639,Royal Enfield Classic 350cc,95500.0,Delhi,18000.0,First Owner,8.0,350.0,Royal Enfield

In [50]:
#question 2
#bike name = Royal Enfield Classic Desert Storm 500cc
# owner = 'First Owner'
# city = "Delhi"
# power = '500.0'
# price = '2lakh'
# age = '5years
df_RE3=df_RE[df_RE['bike_name']=='Royal Enfield Classic Desert Storm 500cc']
df_RE3

,bike_name,price,city,kms_driven,owner,age,power,brand
9,Royal Enfield Classic Desert Storm 500cc,88000.0,Delhi,19000.0,Second Owner,7.0,500.0,Royal Enfield
192,Royal Enfield Classic Desert Storm 500cc,110800.0,Mumbai,13300.0,First Owner,6.0,500.0,Royal Enfield
1299,Royal Enfield Classic Desert Storm 500cc,130000.0,Ahmedabad,14000.0,First Owner,6.0,500.0,Royal Enfield
1452,Royal Enfield Classic Desert Storm 500cc,175000.0,Pune,3400.0,First Owner,4.0,500.0,Royal Enfield
1531,Royal Enfield Classic Desert Storm 500cc,95000.0,Bangalore,12233.0,First Owner,6.0,500.0,Royal Enfield
2091,Royal Enfield Classic Desert Storm 500cc,140000.0,Godavari,16800.0,First Owner,3.0,500.0,Royal Enfield
2148,Royal Enfield Classic Desert Storm 500cc,135000.0,Gurgaon,19926.0,Second Owner,7.0,500.0,Royal Enfield
2486,Royal Enfield Classic Desert Storm 500cc,132100.0,Chennai,29000.0,First Owner,5.0,500.0,Royal Enfield
2520,Royal Enfield Classic Desert Storm 500cc,100000.0,Chennai,22000.0,First Owner,7.0,500.0,Royal Enfield
2812,Royal Enfield Classic Desert Storm 500cc,110000.0,Chennai,30000.0,First Owner,9.0,500.0,Royal Enfield
2934,Royal Enfield Classic Desert Storm 500cc,90000.0,Gurgaon,2539.0,First Owner,7.0,500.0,Royal Enfield
3189,Royal Enfield Classic Desert Storm 500cc,130000.0,Bangalore,16000.0,First Owner,6.0,500.0,Royal Enfield
3190,Royal Enfield Classic Desert Storm 500cc,200000.0,Bangalore,10000.0,First Owner,4.0,500.0,Royal Enfield
3379,Royal Enfield Classic Desert Storm 500cc,110000.0,Chennai,30000.0,First Owner,9.0,500.0,Royal Enfield
3477,Royal Enfield Classic Desert Storm 500cc,132100.0,Chennai,29000.0,First Owner,5.0,500.0,Royal Enfield
3621,Royal Enfield Classic Desert Storm 500cc,108900.0,Mumbai,25660.0,First Owner,9.0,500.0,Royal Enfield
3632,Royal Enfield Classic Desert Storm 500cc,145000.0,Bangalore,14717.0,First Owner,4.0,500.0,Royal Enfield
3749,Royal Enfield Classic Desert Storm 500cc,127000.0,Kullu,32000.0,First Owner,5.0,500.0,Royal Enfield
3856,Royal Enfield Classic Desert Storm 500cc,138000.0,Bhatinda,5457.0,First Owner,5.0,500.0,Royal Enfield
3861,Royal Enfield Classic Desert Storm 500cc,135000.0,Pune,17600.0,First Owner,7.0,500.0,Royal Enfield
4032,Royal Enfield Classic Desert Storm 500cc,118000.0,Delhi,8000.0,First Owner,6.0,500.0,Royal Enfield
4117,Royal Enfield Classic Desert Storm 500cc,105000.0,Chandigarh,20000.0,First Owner,8.0,500.0,Royal Enfield
4237,Royal Enfield Classic Desert Storm 500cc,138000.0,Bhatinda,5457.0,First Owner,5.0,500.0,Royal Enfield
4345,Royal Enfield Classic Desert Storm 500cc,98100.0,Delhi,17000.0,First Owner,7.0,500.0,Royal Enfield
4462,Royal Enfield Classic Desert Storm 500cc,98100.0,Delhi,17000.0,First Owner,7.0,500.0,Royal Enfield
4598,Royal Enfield Classic Desert Storm 500cc,70000.0,Indi,28411.0,First Owner,7.0,500.0,Royal Enfield
4638,Royal Enfield Classic Desert Storm 500cc,70000.0,Indi,28411.0,First Owner,7.0,500.0,Royal Enfield
5195,Royal Enfield Classic Desert Storm 500cc,119000.0,Delhi,14735.0,First Owner,5.0,500.0,Royal Enfield
5234,Royal Enfield Classic Desert Storm 500cc,110439.0,Chennai,3000.0,First Owner,9.0,500.0,Royal Enfield
5235,Royal Enfield Classic Desert Storm 500cc,116762.0,Chennai,30000.0,First Owner,7.0,500.0,Royal Enfield
5455,Royal Enfield Classic Desert Storm 500cc,119000.0,Delhi,14735.0,First Owner,5.0,500.0,Royal Enfield
5494,Royal Enfield Classic Desert Storm 500cc,105000.0,Pune,11072.0,First Owner,8.0,500.0,Royal Enfield
5820,Royal Enfield Classic Desert Storm 500cc,110000.0,Kullu,28000.0,First Owner,5.0,500.0,Royal Enfield
5990,Royal Enfield Classic Desert Storm 500cc,145000.0,Mumbai,14307.0,First Owner,5.0,500.0,Royal Enfield
6024,Royal Enfield Classic Desert Storm 500cc,110000.0,Delhi,6500.0,First Owner,6.0,500.0,Royal Enfield
6162,Royal Enfield Classic Desert Storm 500cc,110000.0,Kullu,28000.0,First Owner,5.0,500.0,Royal Enfield
6315,Royal Enfield Classic Desert Storm 500cc,114000.0,Bangalore,13631.0,First Owner,6.0,500.0,Royal Enfield
6316,Royal Enfield Classic Desert Storm 500cc,105000.0,Bangalore,19111.0,First Owner,7.0,500.0,Royal Enfield
6724,Royal Enfield Classic Desert Storm 500cc,115000.0,Bangalore,24667.0,First Owner,6.0,500.0,Royal Enfield
6725,Royal Enfield Classic Desert Storm 500cc,110000.0,Bangalore,12800.0,First Owner,8.0,500.0,Royal Enfield
7143,Royal Enfield Classic Desert Storm 500cc,114000.0,Bangalore,13631.0,First Owner,6.0,500.0,Royal Enfield
7144,Royal Enfield Classic Desert Storm 500cc,105000.0,Bangalore,19111.0,First Owner,7.0,500.0,Royal Enfield
8069,Royal Enfield Classic Desert Storm 500cc,145000.0,Kathua,14000.0,First Owner,4.0,500.0,Royal Enfield
8195,Royal Enfield Classic Desert Storm 500cc,175000.0,Ernakulam,10951.0,First Owner,6.0,500.0,Royal Enfield
8246,Royal Enfield Classic Desert Storm 500cc,108400.0,Delhi,3545.0,First Owner,8.0,500.0,Royal Enfield
8478,Royal Enfield Classic Desert Storm 500cc,120000.0,Pune,8827.0,First Owner,5.0,500.0,Royal Enfield
8563,Royal Enfield Classic Desert Storm 500cc,101001.0,Ahmedabad,28000.0,First Owner,8.0,500.0,Royal Enfield
8641,Royal Enfield Classic Desert Storm 500cc,101001.0,Ahmedabad,28000.0,First Owner,8.0,500.0,Royal Enfield
8676,Royal Enfield Classic Desert Storm 500cc,92000.0,Ludhiana,23569.0,Third Owner,7.0,500.0,Royal Enfield
8716,Royal Enfield Classic Desert Storm 500cc,92000.0,Ludhiana,23569.0,Third Owner,7.0,500.0,Royal Enfield
8766,Royal Enfield Classic Desert Storm 500cc,169999.0,Jamnagar,11500.0,First Owner,5.0,500.0,Royal Enfield
8823,Royal Enfield Classic Desert Storm 500cc,105000.0,Chennai,22253.0,Second Owner,6.0,500.0,Royal Enfield
8839,Royal Enfield Classic Desert Storm 500cc,160000.0,Noida,1754.0,First Owner,4.0,500.0,Royal Enfield
9241,Royal Enfield Classic Desert Storm 500cc,140000.0,Delhi,8500.0,First Owner,5.0,500.0,Royal Enfield

In [52]:
#for first owner
df_RE4=df_RE3[df_RE3['owner']=='First Owner']
df_RE4

,bike_name,price,city,kms_driven,owner,age,power,brand
192,Royal Enfield Classic Desert Storm 500cc,110800.0,Mumbai,13300.0,First Owner,6.0,500.0,Royal Enfield
1299,Royal Enfield Classic Desert Storm 500cc,130000.0,Ahmedabad,14000.0,First Owner,6.0,500.0,Royal Enfield
1452,Royal Enfield Classic Desert Storm 500cc,175000.0,Pune,3400.0,First Owner,4.0,500.0,Royal Enfield
1531,Royal Enfield Classic Desert Storm 500cc,95000.0,Bangalore,12233.0,First Owner,6.0,500.0,Royal Enfield
2091,Royal Enfield Classic Desert Storm 500cc,140000.0,Godavari,16800.0,First Owner,3.0,500.0,Royal Enfield
2486,Royal Enfield Classic Desert Storm 500cc,132100.0,Chennai,29000.0,First Owner,5.0,500.0,Royal Enfield
2520,Royal Enfield Classic Desert Storm 500cc,100000.0,Chennai,22000.0,First Owner,7.0,500.0,Royal Enfield
2812,Royal Enfield Classic Desert Storm 500cc,110000.0,Chennai,30000.0,First Owner,9.0,500.0,Royal Enfield
2934,Royal Enfield Classic Desert Storm 500cc,90000.0,Gurgaon,2539.0,First Owner,7.0,500.0,Royal Enfield
3189,Royal Enfield Classic Desert Storm 500cc,130000.0,Bangalore,16000.0,First Owner,6.0,500.0,Royal Enfield
3190,Royal Enfield Classic Desert Storm 500cc,200000.0,Bangalore,10000.0,First Owner,4.0,500.0,Royal Enfield
3379,Royal Enfield Classic Desert Storm 500cc,110000.0,Chennai,30000.0,First Owner,9.0,500.0,Royal Enfield
3477,Royal Enfield Classic Desert Storm 500cc,132100.0,Chennai,29000.0,First Owner,5.0,500.0,Royal Enfield
3621,Royal Enfield Classic Desert Storm 500cc,108900.0,Mumbai,25660.0,First Owner,9.0,500.0,Royal Enfield
3632,Royal Enfield Classic Desert Storm 500cc,145000.0,Bangalore,14717.0,First Owner,4.0,500.0,Royal Enfield
3749,Royal Enfield Classic Desert Storm 500cc,127000.0,Kullu,32000.0,First Owner,5.0,500.0,Royal Enfield
3856,Royal Enfield Classic Desert Storm 500cc,138000.0,Bhatinda,5457.0,First Owner,5.0,500.0,Royal Enfield
3861,Royal Enfield Classic Desert Storm 500cc,135000.0,Pune,17600.0,First Owner,7.0,500.0,Royal Enfield
4032,Royal Enfield Classic Desert Storm 500cc,118000.0,Delhi,8000.0,First Owner,6.0,500.0,Royal Enfield
4117,Royal Enfield Classic Desert Storm 500cc,105000.0,Chandigarh,20000.0,First Owner,8.0,500.0,Royal Enfield
4237,Royal Enfield Classic Desert Storm 500cc,138000.0,Bhatinda,5457.0,First Owner,5.0,500.0,Royal Enfield
4345,Royal Enfield Classic Desert Storm 500cc,98100.0,Delhi,17000.0,First Owner,7.0,500.0,Royal Enfield
4462,Royal Enfield Classic Desert Storm 500cc,98100.0,Delhi,17000.0,First Owner,7.0,500.0,Royal Enfield
4598,Royal Enfield Classic Desert Storm 500cc,70000.0,Indi,28411.0,First Owner,7.0,500.0,Royal Enfield
4638,Royal Enfield Classic Desert Storm 500cc,70000.0,Indi,28411.0,First Owner,7.0,500.0,Royal Enfield
5195,Royal Enfield Classic Desert Storm 500cc,119000.0,Delhi,14735.0,First Owner,5.0,500.0,Royal Enfield
5234,Royal Enfield Classic Desert Storm 500cc,110439.0,Chennai,3000.0,First Owner,9.0,500.0,Royal Enfield
5235,Royal Enfield Classic Desert Storm 500cc,116762.0,Chennai,30000.0,First Owner,7.0,500.0,Royal Enfield
5455,Royal Enfield Classic Desert Storm 500cc,119000.0,Delhi,14735.0,First Owner,5.0,500.0,Royal Enfield
5494,Royal Enfield Classic Desert Storm 500cc,105000.0,Pune,11072.0,First Owner,8.0,500.0,Royal Enfield
5820,Royal Enfield Classic Desert Storm 500cc,110000.0,Kullu,28000.0,First Owner,5.0,500.0,Royal Enfield
5990,Royal Enfield Classic Desert Storm 500cc,145000.0,Mumbai,14307.0,First Owner,5.0,500.0,Royal Enfield
6024,Royal Enfield Classic Desert Storm 500cc,110000.0,Delhi,6500.0,First Owner,6.0,500.0,Royal Enfield
6162,Royal Enfield Classic Desert Storm 500cc,110000.0,Kullu,28000.0,First Owner,5.0,500.0,Royal Enfield
6315,Royal Enfield Classic Desert Storm 500cc,114000.0,Bangalore,13631.0,First Owner,6.0,500.0,Royal Enfield
6316,Royal Enfield Classic Desert Storm 500cc,105000.0,Bangalore,19111.0,First Owner,7.0,500.0,Royal Enfield
6724,Royal Enfield Classic Desert Storm 500cc,115000.0,Bangalore,24667.0,First Owner,6.0,500.0,Royal Enfield
6725,Royal Enfield Classic Desert Storm 500cc,110000.0,Bangalore,12800.0,First Owner,8.0,500.0,Royal Enfield
7143,Royal Enfield Classic Desert Storm 500cc,114000.0,Bangalore,13631.0,First Owner,6.0,500.0,Royal Enfield
7144,Royal Enfield Classic Desert Storm 500cc,105000.0,Bangalore,19111.0,First Owner,7.0,500.0,Royal Enfield
8069,Royal Enfield Classic Desert Storm 500cc,145000.0,Kathua,14000.0,First Owner,4.0,500.0,Royal Enfield
8195,Royal Enfield Classic Desert Storm 500cc,175000.0,Ernakulam,10951.0,First Owner,6.0,500.0,Royal Enfield
8246,Royal Enfield Classic Desert Storm 500cc,108400.0,Delhi,3545.0,First Owner,8.0,500.0,Royal Enfield
8478,Royal Enfield Classic Desert Storm 500cc,120000.0,Pune,8827.0,First Owner,5.0,500.0,Royal Enfield
8563,Royal Enfield Classic Desert Storm 500cc,101001.0,Ahmedabad,28000.0,First Owner,8.0,500.0,Royal Enfield
8641,Royal Enfield Classic Desert Storm 500cc,101001.0,Ahmedabad,28000.0,First Owner,8.0,500.0,Royal Enfield
8766,Royal Enfield Classic Desert Storm 500cc,169999.0,Jamnagar,11500.0,First Owner,5.0,500.0,Royal Enfield
8839,Royal Enfield Classic Desert Storm 500cc,160000.0,Noida,1754.0,First Owner,4.0,500.0,Royal Enfield
9241,Royal Enfield Classic Desert Storm 500cc,140000.0,Delhi,8500.0,First Owner,5.0,500.0,Royal Enfield

In [53]:
#for city = Delhi
df_RE5=df_RE4[df_RE4['city']=='Delhi']
df_RE5

,bike_name,price,city,kms_driven,owner,age,power,brand
4032,Royal Enfield Classic Desert Storm 500cc,118000.0,Delhi,8000.0,First Owner,6.0,500.0,Royal Enfield
4345,Royal Enfield Classic Desert Storm 500cc,98100.0,Delhi,17000.0,First Owner,7.0,500.0,Royal Enfield
4462,Royal Enfield Classic Desert Storm 500cc,98100.0,Delhi,17000.0,First Owner,7.0,500.0,Royal Enfield
5195,Royal Enfield Classic Desert Storm 500cc,119000.0,Delhi,14735.0,First Owner,5.0,500.0,Royal Enfield
5455,Royal Enfield Classic Desert Storm 500cc,119000.0,Delhi,14735.0,First Owner,5.0,500.0,Royal Enfield
6024,Royal Enfield Classic Desert Storm 500cc,110000.0,Delhi,6500.0,First Owner,6.0,500.0,Royal Enfield
8246,Royal Enfield Classic Desert Storm 500cc,108400.0,Delhi,3545.0,First Owner,8.0,500.0,Royal Enfield
9241,Royal Enfield Classic Desert Storm 500cc,140000.0,Delhi,8500.0,First Owner,5.0,500.0,Royal Enfield

In [55]:
#for power
df_RE6=df_RE5[df_RE5['power']==500]
df_RE6

,bike_name,price,city,kms_driven,owner,age,power,brand
4032,Royal Enfield Classic Desert Storm 500cc,118000.0,Delhi,8000.0,First Owner,6.0,500.0,Royal Enfield
4345,Royal Enfield Classic Desert Storm 500cc,98100.0,Delhi,17000.0,First Owner,7.0,500.0,Royal Enfield
4462,Royal Enfield Classic Desert Storm 500cc,98100.0,Delhi,17000.0,First Owner,7.0,500.0,Royal Enfield
5195,Royal Enfield Classic Desert Storm 500cc,119000.0,Delhi,14735.0,First Owner,5.0,500.0,Royal Enfield
5455,Royal Enfield Classic Desert Storm 500cc,119000.0,Delhi,14735.0,First Owner,5.0,500.0,Royal Enfield
6024,Royal Enfield Classic Desert Storm 500cc,110000.0,Delhi,6500.0,First Owner,6.0,500.0,Royal Enfield
8246,Royal Enfield Classic Desert Storm 500cc,108400.0,Delhi,3545.0,First Owner,8.0,500.0,Royal Enfield
9241,Royal Enfield Classic Desert Storm 500cc,140000.0,Delhi,8500.0,First Owner,5.0,500.0,Royal Enfield

In [56]:
#for price
df_RE7=df_RE6[df_RE6['price']<=200000]
df_RE7

,bike_name,price,city,kms_driven,owner,age,power,brand
4032,Royal Enfield Classic Desert Storm 500cc,118000.0,Delhi,8000.0,First Owner,6.0,500.0,Royal Enfield
4345,Royal Enfield Classic Desert Storm 500cc,98100.0,Delhi,17000.0,First Owner,7.0,500.0,Royal Enfield
4462,Royal Enfield Classic Desert Storm 500cc,98100.0,Delhi,17000.0,First Owner,7.0,500.0,Royal Enfield
5195,Royal Enfield Classic Desert Storm 500cc,119000.0,Delhi,14735.0,First Owner,5.0,500.0,Royal Enfield
5455,Royal Enfield Classic Desert Storm 500cc,119000.0,Delhi,14735.0,First Owner,5.0,500.0,Royal Enfield
6024,Royal Enfield Classic Desert Storm 500cc,110000.0,Delhi,6500.0,First Owner,6.0,500.0,Royal Enfield
8246,Royal Enfield Classic Desert Storm 500cc,108400.0,Delhi,3545.0,First Owner,8.0,500.0,Royal Enfield
9241,Royal Enfield Classic Desert Storm 500cc,140000.0,Delhi,8500.0,First Owner,5.0,500.0,Royal Enfield

In [57]:
#for age
df_RE8=df_RE7[df_RE7['age']==5]
df_RE8

,bike_name,price,city,kms_driven,owner,age,power,brand
5195,Royal Enfield Classic Desert Storm 500cc,119000.0,Delhi,14735.0,First Owner,5.0,500.0,Royal Enfield
5455,Royal Enfield Classic Desert Storm 500cc,119000.0,Delhi,14735.0,First Owner,5.0,500.0,Royal Enfield
9241,Royal Enfield Classic Desert Storm 500cc,140000.0,Delhi,8500.0,First Owner,5.0,500.0,Royal Enfield

In [44]:
#for price
df_RE1=df_RE[df_RE['price']>=100000]
df_RE1

,bike_name,price,city,kms_driven,owner,age,power,brand
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
8,Royal Enfield Thunderbird X 350cc,145000.0,Bangalore,9190.0,First Owner,3.0,350.0,Royal Enfield
23,Royal Enfield Classic Chrome 500cc,121700.0,Kalyan,24520.0,First Owner,5.0,500.0,Royal Enfield
38,Royal Enfield Thunderbird X 500cc,190500.0,Samastipur,4550.0,First Owner,2.0,500.0,Royal Enfield
62,Royal Enfield Bullet Electra 350cc,107100.0,Delhi,15438.0,Second Owner,3.0,350.0,Royal Enfield
...,...,...,...,...,...,...,...,...
32348,Royal Enfield Bullet Electra 350cc,105000.0,Delhi,20000.0,First Owner,4.0,350.0,Royal Enfield
32367,Royal Enfield Bullet Electra 350cc,105000.0,Delhi,20000.0,First Owner,4.0,350.0,Royal Enfield
32443,Royal Enfield Bullet Electra 350cc,105000.0,Delhi,20000.0,First Owner,4.0,350.0,Royal Enfield
32481,Royal Enfield Bullet Electra 350cc,105000.0,Delhi,20000.0,First Owner,4.0,350.0,Royal Enfield
32614,Royal Enfield Bullet Electra 350cc,105000.0,Delhi,20000.0,First Owner,4.0,350.0,Royal Enfield

In [19]:
ub_df_royal_enfield_classic = df[(df['owner'] == 'First Owner') &             #for printing together
                                 (df['city'] == 'Delhi') &
                                 (df['power'] > 500.0) &
                                 (df['price'] > 200000)]

In [20]:
ub_df_royal_enfield_classic

,bike_name,price,city,kms_driven,owner,age,power,brand
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
110,Hyosung GT650R,400000.0,Delhi,1800.0,First Owner,4.0,650.0,Hyosung
228,Ducati Panigale 959,885000.0,Delhi,300.0,First Owner,2.0,959.0,Ducati
565,Harley-Davidson Street 750,350000.0,Delhi,5000.0,First Owner,5.0,750.0,Harley-Davidson
582,Harley-Davidson Street 750,350000.0,Delhi,5000.0,First Owner,5.0,750.0,Harley-Davidson
...,...,...,...,...,...,...,...,...
7997,Harley-Davidson Street 750,478000.0,Delhi,1300.0,First Owner,5.0,750.0,Harley-Davidson
8446,Harley-Davidson Street 750,406600.0,Delhi,10196.0,First Owner,5.0,750.0,Harley-Davidson
8637,Honda CBR1000RR Fireblade,799000.0,Delhi,15000.0,First Owner,11.0,1000.0,Honda
8747,Harley-Davidson Iron 883,650000.0,Delhi,1900.0,First Owner,5.0,883.0,Harley-Davidson
9266,Harley-Davidson Street 750,478000.0,Delhi,1300.0,First Owner,5.0,750.0,Harley-Davidson

In [21]:
ub_df_royal_enfield_classic

,bike_name,price,city,kms_driven,owner,age,power,brand
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
110,Hyosung GT650R,400000.0,Delhi,1800.0,First Owner,4.0,650.0,Hyosung
228,Ducati Panigale 959,885000.0,Delhi,300.0,First Owner,2.0,959.0,Ducati
565,Harley-Davidson Street 750,350000.0,Delhi,5000.0,First Owner,5.0,750.0,Harley-Davidson
582,Harley-Davidson Street 750,350000.0,Delhi,5000.0,First Owner,5.0,750.0,Harley-Davidson
...,...,...,...,...,...,...,...,...
7997,Harley-Davidson Street 750,478000.0,Delhi,1300.0,First Owner,5.0,750.0,Harley-Davidson
8446,Harley-Davidson Street 750,406600.0,Delhi,10196.0,First Owner,5.0,750.0,Harley-Davidson
8637,Honda CBR1000RR Fireblade,799000.0,Delhi,15000.0,First Owner,11.0,1000.0,Honda
8747,Harley-Davidson Iron 883,650000.0,Delhi,1900.0,First Owner,5.0,883.0,Harley-Davidson
9266,Harley-Davidson Street 750,478000.0,Delhi,1300.0,First Owner,5.0,750.0,Harley-Davidson

In [45]:
df_RE2=df_RE1[df_RE1['kms_driven']<=50.0]
df_RE2

,bike_name,price,city,kms_driven,owner,age,power,brand
3523,Royal Enfield Bullet Electra 350cc,112200.0,Bangalore,40.0,First Owner,7.0,350.0,Royal Enfield

In [46]:
df_RE2[df_RE2['age']==2]

Empty DataFrame
Columns: [bike_name, price, city, kms_driven, owner, age, power, brand]
Index: []

In [22]:
df['age'].unique()

array([ 3.,  4.,  8.,  6.,  7.,  5.,  2., 16., 13.,  9., 10., 14., 12.,
       11.,  1., 15., 39., 17., 18., 30., 19., 23., 41., 27., 37., 24.,
       20., 43., 38., 63., 34., 31., 22., 26., 25.])

In [23]:
df['brand'].unique()

array(['TVS', 'Royal Enfield', 'Triumph', 'Yamaha', 'Honda', 'Hero',
       'Bajaj', 'Suzuki', 'Benelli', 'KTM', 'Mahindra', 'Kawasaki',
       'Ducati', 'Hyosung', 'Harley-Davidson', 'Jawa', 'BMW', 'Indian',
       'Rajdoot', 'LML', 'Yezdi', 'MV', 'Ideal'], dtype=object)

In [24]:
df['bike_name'].unique()

array(['TVS Star City Plus Dual Tone 110cc',
       'Royal Enfield Classic 350cc', 'Triumph Daytona 675R',
       'TVS Apache RTR 180cc', 'Yamaha FZ S V 2.0 150cc-Ltd. Edition',
       'Yamaha FZs 150cc', 'Honda CB Hornet 160R  ABS DLX',
       'Hero Splendor Plus Self Alloy 100cc',
       'Royal Enfield Thunderbird X 350cc',
       'Royal Enfield Classic Desert Storm 500cc',
       'Yamaha YZF-R15 2.0 150cc', 'Yamaha FZ25 250cc',
       'Bajaj Pulsar NS200', 'Bajaj Discover 100M', 'Bajaj Discover 125M',
       'Bajaj Pulsar NS200 ABS', 'Bajaj Pulsar RS200 ABS',
       'Suzuki Gixxer SF 150cc', 'Benelli 302R 300CC',
       'Hero Splendor iSmart Plus IBS 110cc',
       'Royal Enfield Classic Chrome 500cc', 'Yamaha FZ V 2.0 150cc',
       'Hero Super Splendor 125cc', 'Honda CBF Stunner 125cc',
       'Bajaj Pulsar 150cc', 'Honda X-Blade 160CC ABS',
       'Bajaj Avenger 220cc', 'KTM RC 390cc', 'Honda CB Unicorn 150cc',
       'KTM Duke 200cc', 'Honda CBR 150R 150cc',
       'Royal Enfield Thunderbird X 500cc', 'KTM RC 200cc ABS',
       'Royal Enfield Thunderbird 350cc',
       'Royal Enfield Bullet Electra 350cc',
       'Bajaj Avenger Street 220 ABS', 'Mahindra Centuro NXT 110cc',
       'Hero Hunk 150cc', 'Suzuki Gixxer SF Fi 150cc SP ABS',
       'Yamaha FZ 150cc', 'Royal Enfield\u200e Bullet 350cc',
       'TVS Apache RTR 160cc', 'Honda CB Shine 125cc',
       'Benelli TNT 600i ABS', 'Honda Dream Yuga 110cc',
       'Yamaha SZ 150cc', 'Suzuki Gixxer 150cc',
       'Bajaj Avenger Cruise 220', 'Kawasaki Z900', 'Bajaj Pulsar 220cc',
       'Hero CD Deluxe 100cc', 'Kawasaki Ninja 650cc',
       'Bajaj Platina 125cc', 'Hero Karizma ZMR 223cc',
       'Bajaj Pulsar 180cc', 'Yamaha FZ25 ABS 250cc',
       'Bajaj CT 100 100cc', 'Royal Enfield Interceptor 650cc',
       'KTM Duke 250cc', 'Royal Enfield Himalayan 410cc',
       'Bajaj Pulsar 135LS', 'Bajaj Pulsar 220F', 'Yamaha FZ16 150cc',
       'Ducati Scrambler 1100 Special', 'Triumph Street Triple 765',
       'Bajaj V15 150cc', 'Suzuki Gixxer Fi 150cc ABS',
       'Hero Splendor plus 100cc', 'KTM Duke 390cc', 'Honda CBR 250R',
       'Bajaj Pulsar RS200', 'Benelli TNT 600i',
       'Suzuki Gixxer 150cc SP Rear Disc', 'Yamaha FZ S V 2.0 150cc',
       'Royal Enfield Classic 500cc', 'Hyosung GT650R',
       'Yamaha YZF-R15 S 150cc', 'TVS Apache RTR 160 4V Disc',
       'Benelli TNT 300', 'Honda CB ShineSP 125cc',
       'Hero Passion Pro 100cc', 'Hero Splendor Plus 100cc',
       'Yamaha YZF R6 600cc', 'Ducati 1299 Superleggera',
       'Royal Enfield Electra 350cc', 'TVS Phoenix Disc 125cc',
       'Harley-Davidson Street 750',
       'Royal Enfield Himalayan 410cc Fi ABS', 'Bajaj Discover 150cc',
       'Bajaj Avenger Street 220', 'Royal Enfield Standard 350cc',
       'Honda CB Shine 125cc Disc', 'Honda CB Unicorn ABS 150cc',
       'Yamaha YZF-R15 V3 150cc', 'Bajaj Pulsar NS 200',
       'Bajaj Dominar 400', 'Honda X-Blade 160cc',
       'Suzuki Hayabusa 1300cc', 'Ducati Monster 821 Dark',
       'Yamaha FZ S V 2.0 150cc Rear Disc',
       'Suzuki Gixxer SF 150cc Special MOTOGP Edition Rear Disc',
       'KTM RC 200cc', 'Bajaj Discover 125ST',
       'Hero Splendor Plus Kick Alloy 100cc', 'Hero Karizma 223cc',
       'Hero Splendor 100cc', 'Ducati 1198 SP 1198cc',
       'Royal Enfield Bullet 500cc', 'Yamaha Fazer 150cc',
       'Yamaha Gladiator 125cc', 'Hero Karizma R 223cc',
       'Harley-Davidson Iron 883', 'TVS Apache RTR 200 4V Fi',
       'TVS Apache RTR 160 4V DISC ABS BS6', 'Bajaj Dominar 400 ABS',
       'Royal Enfield Classic Gunmetal Grey 350cc',
       'Hero HF Deluxe i3s iBS 100cc', 'Suzuki Gixxer SF Fi 150cc ABS',
       'Hero Splendor iSmart 110cc', 'Bajaj Platina 100cc',
       'TVS Apache RTR 200 4V FI', 'Royal Enfield Bullet Twinspark 350cc',
       'TVS Star City 110cc', 'Bajaj Platina  Alloy ES-100cc',
       'Ducati Panigale 959',
       'Royal Enfield Classic 350cc-Redditch Edition', 'TVS Sport 100cc',
       'Bajaj Pulsar AS200',
       'Royal Enfield Classic Desert Storm 500cc Dual Disc',
       'Honda Livo 110cc', 'Suzuki Gixxer SF 150cc SP Rear Disc',
       'Yamaha SZ-RR 150cc', 'Royal Enfield Thunderbird 500cc',
       'Royal Enfield Bullet Electra Twinspark 350cc',
       'Bajaj Discover 150F Disc',
       'Yamaha Saluto 125cc Disc Special Edition',
       'Triumph Street Triple ABS 675cc', 'Honda CBR 250R ABS',
       'Hyosung Aquila GV250', 'Jawa Forty Two 295CC', 'Bajaj V12 125cc',
       'Bajaj V12 125cc Disc', 'Yamaha Fazer 25 250cc',
       'Hero Xpulse 200T', 'Honda CB Hornet 160R CBS',
       'Suzuki Gixxer 150cc SP ABS', 'Hero Passion Xpro 110cc',
       'Yamaha YZF-R3 320cc ABS', 'Royal Enfield Bullet 350 cc',
       'Hero HF Deluxe 100cc', 'Honda CB Twister 110cc',
       'Bajaj Pulsar 125cc Disc CBS', 'Honda CB Shine 125cc Drum BS6',
       'Honda CB Hornet 160R STD', 'Honda Dream Neo 110cc', 'BMW G 310 R',
       'Bajaj Pulsar AS150', 'Kawasaki Ninja 250cc', 'Benelli TNT 899',
       'Indian Chief Classic 1800cc', 'Hero Achiever 150cc',
       'TVS Apache 150cc', 'Kawasaki ER-6n 650cc',
       'Hero HF Deluxe Self 100cc', 'Bajaj Pulsar NS160',
       'Royal Enfield Classic Gunmetal Grey 350cc ABS',
       'Suzuki Intruder 150cc', 'TVS Apache RTR 200 4V ABS Race Edition',
       'Bajaj CT 100 B', 'Hero Passion Pro 110cc Drum',
       'Yamaha YZF-R15 150cc', 'TVS Apache RTR 160 4V DISC ABS',
       'Mahindra Mojo 300cc', 'TVS Apache RTR 200 4V Carburetor',
       'Hero Ignitor Disc 125cc', 'Bajaj Avenger Street 150',
       'Royal Enfield Continental GT 535cc', 'Hero Glamour Disc 125cc',
       'Suzuki Gixxer SF Fi 150cc', 'Hero HF Dawn 100cc',
       'Suzuki Slingshot Plus 125cc', 'Mahindra Centuro Rockstar 110cc',
       'Mahindra Centuro 110cc',
       'Honda CB Hornet 160R Special Edition STD',
       'Harley-Davidson Street Rod XG750A ABS',
       'Hero Splendor Plus IBS i3S 100cc', 'Bajaj Discover 135cc',
       'Bajaj Discover 125cc', 'TVS Apache RTR 160 4V DRUM ABS',
       'Honda CB Unicorn 160 CBS', 'KTM Duke 125cc', 'Bajaj Boxer BM150',
       'Hero Glamour 125cc', 'Bajaj Discover 100cc',
       'Bajaj Avenger Street 180', 'TVS Star City Plus 110cc',
       'Honda CB Trigger 150cc', 'Kawasaki Ninja 650 KRT Edition',
       'Bajaj Platina 100cc ComforTec Alloy', 'Benelli TNT R 1130cc',
       'Honda CB Unicorn Dazzler 150cc', 'Benelli TNT 600 GT',
       'Hyosung GT250R', 'Yamaha YZF-R1 1000cc', 'Hero Xtreme 200R',
       'Ducati Diavel 1200cc', 'Triumph Speed Triple 1050cc',
       'Indian Scout Bobber 1130cc', 'Bajaj V15 150cc POWER UP',
       'Jawa Standard 295CC', 'Yamaha SZR 150cc', 'TVS Star Sport 100cc',
       'Hyosung Aquila 250 250cc', 'Kawasaki Z650', 'Hero CD Dawn 100cc',
       'TVS Apache RTR 200 4V ABS', 'Hero Passion 100cc',
       'Suzuki Intruder SP 150cc', 'Yamaha YZF-R3 320cc',
       'TVS Apache RR310', 'Hero Passion Plus 100cc',
       'Royal Enfield Classic 350cc-Redditch Edition Dual Disc',
       'Hero CBZ 150cc', 'Yamaha FZS FI 150cc',
       'Honda CB Unicorn 160 STD', 'Suzuki GS 150 R 150cc',
       'Royal Enfield Machismo 500cc', 'Hero CBZ Xtreme 150cc',
       'Yamaha SZ RR V 2.0 150cc', 'TVS Apache RTR 180cc ABS',
       'Hero Honda Splendor 100cc', 'Honda CBR 150R Deluxe',
       'Hero Ignitor 125cc', 'Bajaj Pulsar 200cc', 'Kawasaki Ninja 300cc',
       'Kawasaki Ninja 300 ABS', 'Bajaj Pulsar 150cc Rear Disc',
       'Hero Splendor NXG 100cc', 'Hero Achiever Disc 150cc',
       'TVS Apache RTR 200 4V Carburetor Race Edition 2.0',
       'Royal Enfield Thunderbird 350cc ABS',
       'Harley-Davidson Street 750 ABS',
       'Bajaj Pulsar 150cc Rear Disc ABS', 'KTM Duke 250cc ABS',
       'Bajaj Pulsar 200 NS 200cc', 'Mahindra Mojo Tourer Edition 300cc',
       'Hero Passion Pro i3S Alloy 100cc',
       'Royal Enfield Thunderbird X 350cc ABS', 'Hero Xtreme 150cc',
       'Bajaj Boxer CT100', 'Royal Enfield Bullet 350cc',
       'Royal Enfield Standard 500cc', 'Hyosung Aquila Pro GV650',
       'Royal Enfield Classic 500cc Dual Disc', 'Suzuki V-Strom 1000cc',
       'KTM RC 125CC', 'Suzuki Gixxer SF 250cc ABS',
       'Harley-Davidson 1200 Custom', 'Honda Dream Yuga 110cc CBS',
       'Hero Splendor Pro 100cc', 'Suzuki Hayate 110cc',
       'Yamaha Fazer FI V 2.0 150cc', 'TVS Victor 110cc Disc',
       'Royal Enfield Classic Stealth Black 500cc',
       'TVS Apache RTR 200 4V Dual Channel ABS BS6',
       'Honda CB Shine 125cc CBS', 'Honda Livo Disc 110cc',
       'Bajaj Discover 110cc', 'Suzuki Gixxer SF 150cc ABS',
       'Hero CD 100SS', 'Hero Honda Splendor Plus 100cc',
       'Bajaj Discover 100T', 'Hero HF Deluxe self Alloy 100cc',
       'Benelli TNT 25 250cc', 'Yamaha MT-15 150cc',
       'Yamaha FZS FI 150cc Rear Disc',
       'TVS Apache RTR 200 4V Carburetor Pirelli Tyres',
       'Triumph Tiger 800 XRX', 'Ducati XDiavel 1262CC S',
       'TVS Suzuki Shogun 110cc', 'Bajaj Discover 125cc Disc',
       'Triumph Thunderbird Storm 1700cc', 'Suzuki GSX-S750',
       'TVS Flame 125cc', 'Triumph Tiger 800 XCA',
       'Royal Enfield Machismo 350cc', 'TVS Victor 110cc',
       'Honda CBR650R', 'Hero Xpulse 200cc FI',
       'Hero HF Deluxe i3s 100cc',
       'TVS Apache RTR 160cc Matt Red Rear Disc', 'Rajdoot GTX 175cc',
       'Hero Xtreme 200R ABS', 'Honda CB Unicorn 160',
       'Honda CB Hornet 160R Special Edition-CBS',
       'TVS Apache RTR 200 4V Carburetor Pirelli Tyres Race Edition 2.0',
       'TVS Apache RR310 Slipper Clutch', 'Mahindra Mojo UT300',
       'Royal Enfield Bullet Twinspark Kickstart 350cc',
       'Bajaj Pulsar  180cc', 'Honda CD 110 Dream',
       'Royal Enfield Bullet Twinspark 500cc',
       'Hero Xtreme Sports Rear Disc 150cc', 'Bajaj CT 100 ES Alloy',
       'Bajaj  Pulsar 180cc', 'Bajaj Discover 150F', 'Hyosung GT 650N',
       'Triumph Street Twin 900cc', 'Bajaj CT 100 Alloy',
       'TVS Apache RTR 160 4V Drum',
       'Yamaha SZ RR V 2.0 150cc Limited Edition',
       'Yamaha YZF-R1M 1000cc', 'Hero Glamour i3s 125cc',
       'Harley-Davidson Roadster XL 1200CX', 'Triumph Tiger 800 XR',
       'KTM Duke 200cc ABS', 'Honda CBR1000RR Fireblade',
       'Honda SP125 Disc BS6', 'Bajaj Platina 110 H Gear Disc',
       'Hero Splendor Plus 100 cc', 'Honda CBR 250R Repsol',
       'Triumph Bonneville T100 865cc', 'Yamaha RX135 135cc 4-Speed',
       'Benelli 302R', 'Hero Splendor iSmart 100cc',
       'Royal Enfield Classic 350cc Dual Disc', 'Honda CB 1000R',
       'Honda CBR 600RR', 'Ducati Monster 797', 'Ducati Monster 1200',
       'Suzuki GSX-R 1000cc', 'Ducati Monster 796 Corse Stripe',
       'TVS Victor 110cc Disc SBT', 'Honda CB ShineSP 125cc CBS Disc',
       'Kawasaki Z250', 'Royal Enfield Classic Squadron Blue 500cc',
       'Suzuki Gixxer 150cc Dual Tone Rear Disc', 'TVS Apache RTR 200 4V',
       'Honda Livo Disc 110cc CBS', 'TVS Apache RTR 160cc Rear Disc',
       'Yamaha FZ S V 3.0 150cc', 'BMW G 310 GS',
       'Royal Enfield Classic 350cc Signals Edition',
       'Royal Enfield Bullet Electra Twinspark 350cc Double Disc',
       'Honda CB Hornet 160R 160cc STD', 'Suzuki Intruder 150cc FI',
       'Bajaj Platina 110 CBS', 'Hero Xtreme Sports 150cc',
       'Bajaj Avenger Cruise 220 ABS',
       'Honda CB Hornet 160R 160cc STD SP', 'Kawasaki Versys 650cc',
       'Ducati Multistrada 1200 Enduro',
       'Hero Passion Pro i3S Alloy 100cc IBS', 'Hero Xtreme Sports 149cc',
       'TVS Apache RTR 160 4V Carburetor', 'Triumph Thruxton R 1200cc',
       'Honda CD 110 Dream DX', 'BMW S 1000 XR Pro',
       'Honda CB ShineSP 125cc Disc', 'Hero HF Deluxe Eco 100cc',
       'Bajaj XCD 125', 'Honda CB ShineSP 125cc CBS',
       'Bajaj CT110 ES Alloy', 'TVS Apache RTR 160 4V FI',
       'Triumph Bonneville T100 900cc', 'Bajaj Avenger Street 160 ABS',
       'TVS Apache RTR 160cc White Race Edition Rear Disc',
       'Royal Enfield Himalayan 410cc Sleet Edition',
       'Hero Splendor+ 100cc', 'Suzuki Gixxer SF 150cc Rear Disc',
       'TVS Apache RTR 160 4V Carburetor With Rear Disc',
       'Suzuki Heat 125cc', 'Honda CB Hornet 160R  ABS STD',
       'Yamaha Fazer25 250cc', 'Bajaj Pulsar NS160 Rear Disc',
       'Honda CB Hornet 160R', 'Bajaj Discover150 150cc',
       'Bajaj Discover 125T', 'Bajaj Pulsar 150cc Classic',
       'Yamaha Saluto 125cc', 'Hero Passion XPRO 110 cc',
       'Yamaha FZS FI 150cc Special Edition', 'TVS Fiero 150cc',
       'Mahindra Mojo XT300', 'Bajaj Platina Alloy ES 100cc',
       'TVS Jive 110cc', 'Bajaj Boxer AT100', 'Bajaj Discover 150S Disc',
       'TVS Radeon 110cc Drum SBT', 'Honda CD 110 Dream Self',
       'Suzuki Gixxer 150cc ABS', 'Suzuki Hayate EP 110cc',
       'Yamaha SZX 150cc', 'Hero CBZ Star 160cc',
       'Hero Passion PRO  100 cc', 'Hero Passion Pro i3S Disc 100cc',
       'Bajaj Avenger 200cc', 'Hero Honda Ambition 135cc',
       'Bajaj Pulsar 135LS 135cc', 'Bajaj CT 100 KS Alloy',
       'BMW S 1000 RR Pro', 'Kawasaki Versys 1000',
       'Honda CB Unicorn 150 150cc', 'Kawasaki Z800',
       'Hero Glamour PGM Fi 125cc', 'Royal Enfield Continental GT 650cc',
       'LML Freedom DX 110cc', 'Harley-Davidson XG750 750cc',
       'Yezdi Classic 250cc', 'Hero Passion Pro 100cc Drum Alloy',
       'TVS Star 100cc', 'Bajaj XCD 135', 'Bajaj Avenger 150cc',
       'Hero HF Deluxe 100 cc', 'Yamaha Fazer FI 150cc',
       'TVS Apache RTR 200 4V FI Race Edition 2.0',
       'Yamaha FZ V 3.0 150cc', 'Hero Super Splendor 125cc i3s',
       'Yamaha SS 125 125cc',
       'Suzuki Gixxer SF 150cc Special MOTOGP Edition',
       'TVS Victor GX 110cc', 'TVS Apache RTR 200 4V Race Edition 2.0',
       'Hero Passion Pro TR 100cc', 'Honda CBR 650 F',
       'Yamaha FZ S V 3.0 150cc ABS Dark Knight BS VI',
       'Hero HF Deluxe Self Spoke 100cc', 'TVS Sports plus ES 100cc',
       'BMW F750 GS 850cc',
       'Royal Enfield Bullet Electra Twinspark 350CC ABS',
       'Hero Glamour Fi 125cc', 'Royal Enfield Himalayan 410cc Sleet ABS',
       'Bajaj Pulsar NS 200cc', 'Yamaha YBR 110cc', 'Bajaj CT 100 Spoke',
       'Yamaha Crux 110cc', 'Yamaha Saluto RX 110cc',
       'MV Agusta Brutale 1090', 'Royal Enfield Himalayan 410cc Fi',
       'MV Agusta F3 800cc', 'Kawasaki Ninja 400', 'Benelli TRK 502X',
       'TVS Phoenix 125cc', 'Harley-Davidson Fat Bob 107 Ci',
       'TVS Apache RTR 160cc White Race Edition',
       'Ideal Jawa Yezdi CL-II 250 cc', 'Hero Splendor Pro Classic 100cc',
       'Yamaha FZ Fi Version 2.0 150cc', 'Yamaha SZS 150cc',
       'Triumph Daytona 675 ABS',
       'Royal Enfield Classic Chrome 500cc ABS',
       'Harley-Davidson Sportster 883', 'Suzuki Zeus 125cc',
       'Yamaha Saluto 125cc-Special Edition', 'Bajaj Avenger 180cc',
       'Bajaj Pulsar 150cc Neon', 'Kawasaki Z1000',
       'Hero CBZ Xtreme 150 cc', 'Kawasaki Vulcan S 650cc',
       'Yamaha RX-Z 135cc', 'Yamaha Libero G5 110cc',
       'Bajaj Pulsar RS200  ABS-200cc', 'Bajaj Discover150S 150cc',
       'Hero i Smart 125cc', 'Hero Splendor Plus  100 cc',
       'Hero Splendor Plus 100 CC', 'Hero Karizma 223 cc',
       'TVS MAX 4R 110cc', 'Mahindra Pantero 110cc',
       'Hero Ambition 135cc', 'Honda CBR 250R Repsol ABS',
       'Hero Hunk Rear Disc 150cc'], dtype=object)

In [25]:
ub_df_royal_enfield_classic = df[(df['owner'] == 'Second Owner') &
                                 (df['city'] == 'Delhi') &
                                 (df['age'] <= 3) &
                                 (df['price'] <= 100000)]
ub_df_royal_enfield_classic

,bike_name,price,city,kms_driven,owner,age,power,brand
1863,TVS Apache RTR 160 4V Disc,65000.0,Delhi,10000.0,Second Owner,3.0,160.0,TVS
2103,TVS Apache RTR 160 4V Disc,65000.0,Delhi,10000.0,Second Owner,3.0,160.0,TVS
2143,TVS Apache RTR 180cc,70000.0,Delhi,7000.0,Second Owner,3.0,180.0,TVS
3807,Bajaj Pulsar NS160,70000.0,Delhi,16880.0,Second Owner,2.0,160.0,Bajaj
4023,TVS Apache RTR 200 4V ABS Race Edition,85000.0,Delhi,3900.0,Second Owner,3.0,200.0,TVS
4252,Suzuki Hayate EP 110cc,22950.0,Delhi,32494.0,Second Owner,3.0,110.0,Suzuki
5364,TVS Apache RTR 180cc,72000.0,Delhi,7000.0,Second Owner,3.0,180.0,TVS
5710,TVS Apache RTR 180cc,72000.0,Delhi,7000.0,Second Owner,3.0,180.0,TVS
6610,TVS Apache RTR 160 4V Carburetor With Rear Disc,80000.0,Delhi,11877.0,Second Owner,3.0,160.0,TVS

In [71]:
#question 3
# brand= royal
# #price = 100000+
# age = 3year+
# price min or max
# total bike

ub_df_royal_enfield_classic = df[(df['brand']=='KTM')&
                                (df['owner'] == 'Second Owner') &
                                (df['price'] >= 100000) &
                                (df['age'] >= 3)|
                                (df['brand']=='Royal Enfield')&
                                (df['owner']=='Second Owner')&
                                (df['price']>=100000)&
                                (df['age']>=3)]
ub_df_royal_enfield_classic

,bike_name,price,city,kms_driven,owner,age,power,brand
62,Royal Enfield Bullet Electra 350cc,107100.0,Delhi,15438.0,Second Owner,3.0,350.0,Royal Enfield
83,KTM Duke 250cc,130000.0,Gandhidham,17500.0,Second Owner,4.0,250.0,KTM
173,KTM RC 200cc,118000.0,Delhi,11200.0,Second Owner,5.0,200.0,KTM
406,Royal Enfield Classic 350cc,115000.0,Delhi,15000.0,Second Owner,5.0,350.0,Royal Enfield
418,Royal Enfield Classic 350cc,115000.0,Delhi,15000.0,Second Owner,5.0,350.0,Royal Enfield
...,...,...,...,...,...,...,...,...
8823,Royal Enfield Classic Desert Storm 500cc,105000.0,Chennai,22253.0,Second Owner,6.0,500.0,Royal Enfield
9185,Royal Enfield Classic 500cc Dual Disc,163500.0,Azamgarh,13900.0,Second Owner,3.0,500.0,Royal Enfield
9196,Royal Enfield Classic 500cc,116900.0,Pune,25362.0,Second Owner,6.0,500.0,Royal Enfield
9303,Royal Enfield Classic 500cc,116900.0,Pune,25362.0,Second Owner,6.0,500.0,Royal Enfield
9308,Royal Enfield Classic 500cc Dual Disc,163500.0,Azamgarh,13900.0,Second Owner,3.0,500.0,Royal Enfield

In [72]:
df_RE.describe()

               price     kms_driven          age        power
count    4178.000000    4178.000000  4178.000000  4178.000000
mean    98562.072044   18275.558640     7.095261   366.104596
std     25853.300790   13344.771142     3.600338    47.263840
min     33500.000000      40.000000     2.000000   350.000000
25%     87000.000000   13858.000000     4.000000   350.000000
50%     95500.000000   16336.000000     7.000000   350.000000
75%    105000.000000   20000.000000     8.000000   350.000000
max    285000.000000  300965.000000    63.000000   650.000000

In [73]:
df_RE.min()

bike_name     Royal Enfield Bullet 350 cc
price                             33500.0
city                           24 Pargana
kms_driven                           40.0
owner                         First Owner
age                                   2.0
power                               350.0
brand                       Royal Enfield
dtype: object

In [74]:
df_RE.max()

bike_name     Royal Enfieldâ€Ž Bullet 350cc
price                            285000.0
city                             Warangal
kms_driven                       300965.0
owner                         Third Owner
age                                  63.0
power                               650.0
brand                       Royal Enfield
dtype: object

In [75]:
df_RE=df[df['brand']=='Royal Enfield']
df_RE

,bike_name,price,city,kms_driven,owner,age,power,brand
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
8,Royal Enfield Thunderbird X 350cc,145000.0,Bangalore,9190.0,First Owner,3.0,350.0,Royal Enfield
9,Royal Enfield Classic Desert Storm 500cc,88000.0,Delhi,19000.0,Second Owner,7.0,500.0,Royal Enfield
23,Royal Enfield Classic Chrome 500cc,121700.0,Kalyan,24520.0,First Owner,5.0,500.0,Royal Enfield
36,Royal Enfield Classic 350cc,98800.0,Kochi,39000.0,First Owner,5.0,350.0,Royal Enfield
...,...,...,...,...,...,...,...,...
32601,Royal Enfield Classic 350cc,95500.0,Delhi,18000.0,First Owner,8.0,350.0,Royal Enfield
32614,Royal Enfield Bullet Electra 350cc,105000.0,Delhi,20000.0,First Owner,4.0,350.0,Royal Enfield
32633,Royal Enfield Classic 350cc,87000.0,Gautam Buddha Nagar,16336.0,First Owner,7.0,350.0,Royal Enfield
32634,Royal Enfield Thunderbird 350cc,70000.0,Mumbai,13858.0,Second Owner,11.0,350.0,Royal Enfield
32639,Royal Enfield Classic 350cc,95500.0,Delhi,18000.0,First Owner,8.0,350.0,Royal Enfield

In [76]:
df_KR['brand'].unique()

array(['Royal Enfield', 'KTM'], dtype=object)

In [77]:
df_KR.min()

bike_name     KTM Duke 200cc
price               100000.0
city               Ahmedabad
kms_driven            1400.0
owner           Second Owner
age                      3.0
power                  200.0
brand                    KTM
dtype: object

In [69]:
df_KR.max()

bike_name     Royal Enfield Thunderbird X 500cc
price                                  860000.0
city                               Vizianagaram
kms_driven                              48000.0
owner                              Second Owner
age                                        27.0
power                                     535.0
brand                             Royal Enfield
dtype: object

In [70]:

df_KR.describe()

               price    kms_driven        age       power
count      61.000000     61.000000  61.000000   61.000000
mean   145401.606557  16875.426230   5.901639  405.573770
std     99296.566863   9352.078759   3.414210   93.001337
min    100000.000000   1400.000000   3.000000  200.000000
25%    115000.000000  11200.000000   5.000000  350.000000
50%    125000.000000  15000.000000   5.000000  390.000000
75%    140000.000000  21000.000000   6.000000  500.000000
max    860000.000000  48000.000000  27.000000  535.000000